<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>com.apexcoders.web.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AIServlet</servlet-name>
        <servlet-class>com.apexcoders.web.AIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.apexcoders.web.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExploreVarsityServlet</servlet-name>
        <servlet-class>com.apexcoders.web.ExploreVarsityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardDataRetrievalServlet</servlet-name>
        <servlet-class>com.apexcoders.web.DashboardDataRetrievalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseSuggestionServlet</servlet-name>
        <servlet-class>com.apexcoders.web.CourseSuggestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExploreCourseServlet</servlet-name>
        <servlet-class>com.apexcoders.web.ExploreCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.apexcoders.web.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VarsitySuggestionServlet</servlet-name>
        <servlet-class>com.apexcoders.web.VarsitySuggestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDataServlet</servlet-name>
        <servlet-class>com.apexcoders.web.UpdateDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllStudentsServlet</servlet-name>
        <servlet-class>com.apexcoders.web.ListAllStudentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStudentsBasedOnAPS</servlet-name>
        <servlet-class>com.apexcoders.web.ListStudentsBasedOnAPS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStudentsBetweenMinAndMaxApsServlet</servlet-name>
        <servlet-class>com.apexcoders.web.ListStudentsBetweenMinAndMaxApsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStudentsBasedOnGradeServlet</servlet-name>
        <servlet-class>com.apexcoders.web.ListStudentsBasedOnGradeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStudentsBasedOnFieldServlet</servlet-name>
        <servlet-class>com.apexcoders.web.ListStudentsBasedOnFieldServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AIServlet</servlet-name>
        <url-pattern>/AIServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExploreVarsityServlet</servlet-name>
        <url-pattern>/ExploreVarsityServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardDataRetrievalServlet</servlet-name>
        <url-pattern>/DashboardDataRetrievalServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseSuggestionServlet</servlet-name>
        <url-pattern>/CourseSuggestionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExploreCourseServlet</servlet-name>
        <url-pattern>/ExploreCourseServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VarsitySuggestionServlet</servlet-name>
        <url-pattern>/VarsitySuggestionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDataServlet</servlet-name>
        <url-pattern>/UpdateDataServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllStudentsServlet</servlet-name>
        <url-pattern>/ListAllStudentsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStudentsBasedOnAPS</servlet-name>
        <url-pattern>/ListStudentsBasedOnAPS.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStudentsBetweenMinAndMaxApsServlet</servlet-name>
        <url-pattern>/ListStudentsBetweenMinAndMaxApsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStudentsBasedOnGradeServlet</servlet-name>
        <url-pattern>/ListStudentsBasedOnGradeServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStudentsBasedOnFieldServlet</servlet-name>
        <url-pattern>/ListStudentsBasedOnFieldServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <security-constraint>
        <display-name>ApexCoderConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>ApexCoderResource</web-resource-name>
            <description>resource</description>
            <url-pattern>/admin_page.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Authenticate apexcoder</description>
            <role-name>apexcoder</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/error_page.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>apexcoder</role-name>
    </security-role>
    
    <resource-env-ref>
  <resource-env-ref-name>gemini/apiKey</resource-env-ref-name>
  <resource-env-ref-type>java.lang.String</resource-env-ref-type>
</resource-env-ref>
</web-app>
